<header></header>
<div class='container'>
<carousel>
    <slide>
        <img src="./assets/images/1.jpg" height="100%" width="100%" alt="First slide">
    </slide>
    <slide>
        <img src="./assets/images/2.jpg" height="100%" width="100%" alt="Second slide">
    </slide>
    <slide>
        <img src="./assets/images/3.jpg" height="100%" width="100%" alt="Third slide">
    </slide>
    <slide>
        <img src="./assets/images/4.jpg" height="100%" width="100%" alt="Fourth slide">
    </slide>
</carousel>
</div>
